<%= form_for(@fender) do |f| %>
  <% if @fender.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fender.errors.count, "error") %> prohibited this fender from being saved:</h2>

      <ul>
      <% @fender.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fender_type %><br />
    <%= f.text_field :fender_type %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
