<section id="boats" class="default">
  <article>
    <article id="tug_icon" class="boat_icon"></article>
    <article id="pilot_icon" class="boat_icon"></article>
    <article id="other_icon" class="boat_icon"></article>
    <article id="yacht_icon" class="boat_icon"></article>
  </article>
</section>
<section id="home_copy" class="default">
  <article>
    <h1>Viking Fender</h1>
    <h2><%= t 'slogan1' %> <%= t 'slogan2' %> <span><%= t 'slogan3'%></span> <%= t 'slogan4'%></h2>
  <!--
  <div class="left">
		<p><%= t 'home_text_1' %></p>
    	<p><%= t 'home_text_2' %></p>
	</div>
	<div class="right">
	    <p><%= t 'home_text_3' %></p>
    	<p><%= t 'home_text_4' %></p>
		<p id="language"><a href="http://vikingfender.es"><%= t 'click_to_view_in' %></a></p>
	</div>
	-->
  </article>
</section>
<section id="home_touts" class="default">
  <article>
    <article id="catalog_tout"><a href=""><span>Catalog</span></a></article>
	<article id="services_tout"><a href=""><span>Services</span></a></article>
	<article id="load_deform_tout"><a href=""><span>Load Deformation Curves</span></a></article>
	<article id="contact_tout"><a href=""><span>Contact Us</span></a></article>
  </article>
</section>