<article>
  <p><%= t 'home_text_1' %></p>
  <p><%= t 'home_text_2' %></p>
  <p><%= t 'home_text_3' %></p>
  <p><%= t 'home_text_4' %></p>
  <p><a href="http://vikingfender.es"><%= t 'click_to_view_in' %></a></p>
</article>