<% content_for :js_to_load_b4_closing_body do %>
<script>
$(function(){
	$('#crossfade-placeholder').crossSlide({
	  fade: 1
	}, 
	[
	  {
	    src:  'http://media.vikingfender.com.s3.amazonaws.com/photos/featured/Madeline_tp2.jpg',
	    alt:  'When Push Comes to Shove, Have A Viking On Your Side',
	    from: '80% 60% 1x',
	    to:   '45% 90% 1.5x',
	    time: 8
	  }, {
	    src:  'http://media.vikingfender.com.s3.amazonaws.com/photos/featured/P9170068_0174.jpg',
	    alt:  'Complete Marine Fendering For All Vessels',
	    from: '35% 90% 1x',
	    to:   '50% 40% 1.3x',
	    time: 5
	  }
	],
	function(idx, img, idxOut, imgOut) {
	  if (idxOut == undefined)
	  {
		$('div.caption').text(img.alt).fadeIn()
	    if(idx==0){
		}else{
		}
	  }
	  else
	  {
	    $('div.caption').fadeOut()
	  }
	});
});
</script>
<% end %>
<section id="crossfade">
	<div id="crossfade-placeholder">
	</div>
	<div class="caption alt png_bg"></div>
</section>
<section id="boats" class="default">
  <article>
    <article id="tug_icon" class="boat_icon">
    	<h1>Tug &amp; Utility<span>Fendering</span></h1>
		<ul>
			<li><%= link_to 'Bow', '/fenders/bow' %></li>
			<li><%= link_to 'Stern', '/fenders/stern' %></li>
			<li><%= link_to 'Side', '/fenders/side' %></li>
			<li><%= link_to 'Molded', '/fenders/extruded' %></li>
			<li><%= link_to 'Softloop', '/fenders/softloop' %></li>
			<li><%= link_to 'Push Knee', '/fenders/push-knee' %></li>
			<li><%= link_to 'Load Deformation Curves', '/loadcurves' %></li>
		</ul>
    </article>
    <article id="utility_icon" class="boat_icon">
    	<h1>Utility<span>Fendering</span></h1>
		<ul>
			<li>Patrol Boats</li>
			<li>Pilot Boats</li>
			<li>Government Boats</li>
			<li>New York State Police</li>
			<li>See Installation Videos</li>
		</ul>
    </article>
    <article id="pier_icon" class="boat_icon">
    	<h1>Pier<span>Fendering</span></h1>
		<ul>
			<li><%= link_to 'Monopile', '/fenders/monopile' %></li>
			<li><%= link_to 'Softlite Foam', '/fenders/softlite' %></li>
		</ul>
    </article>
    <article id="yacht_icon" class="boat_icon">
    	<h1>Yacht<span>Fendering</span></h1>
		<ul>
			<li><%= link_to 'Inflatable', '/fenders/inflatable' %></li>
			<li><%= link_to 'Softlite', '/fenders/softlite' %></li>
			<li><%= link_to 'Softlite Donut', '/fenders/softlite-donut' %></li>
		</ul>
    </article>
  </article>
</section>