<section id="boats" class="default">
  <article>
    <div id="tug">
      <h1><a href="fenders_link">Industrial Fenders</a></h1>
    </div>
    <div id="yacht">
      <h1><a href="yacht_link">Yacht Fenders</a></h1>
    </div>
  </article>
</section>
<section id="home_copy" class="default">
  <article>
    <p><%= t 'home_text_1' %></p>
    <p><%= t 'home_text_2' %></p>
    <p><%= t 'home_text_3' %></p>
    <p><%= t 'home_text_4' %></p>
    <p><a href="http://vikingfender.es"><%= t 'click_to_view_in' %></a></p>
  </article>
</section>