<section id="boats" class="default">
  <article>
    <div id="tug">
      <h1><a href="fenders_link">Industrial Fenders</a></h1>
    </div>
    <div id="yacht">
      <h1><a href="yacht_link">Yacht Fenders</a></h1>
    </div>
  </article>
</section>
<section id="home_copy" class="default">
  <article>
    <div class="left">
		<p><%= t 'home_text_1' %></p>
    	<p><%= t 'home_text_2' %></p>
	</div>
	<div class="right">
	    <p><%= t 'home_text_3' %></p>
    	<p><%= t 'home_text_4' %></p>
		<p id="language"><a href="http://vikingfender.es"><%= t 'click_to_view_in' %></a></p>
	</div>
  </article>
</section>
<section id="home_touts" class="default">
  <article>
    <article id="catalog_tout"><a href=""><span>Catalog</span></a></article>
	<article id="services_tout"><a href=""><span>Services</span></a></article>
	<article id="load_deform_tout"><a href=""><span>Load Deformation Curves</span></a></article>
	<article id="contact_tout"><a href=""><span>Contact Us</span></a></article>
  </article>
</section>